# -----------------------------------------------------------------------------------------
#            Python Packages Needed for Django App
#
# to install all at once use this command: pip install -r requirements.txt
# See website for more info: https://pip.pypa.io/en/stable/user_guide/#requirements-files
# -----------------------------------------------------------------------------------------
Django                  # django framework
django-ckeditor         # optional for adding RichTextField
pytest                  # pytest framework
pytest-django           # pytest framework for django
selenium                # for running selenium test scripts
django_extensions       # for test purposes
psycopg2-binary          # for postgress db interaction
#mysqlclient             # mysql db
mixer