{% extends 'base.html' %}

{% block title %} Edit Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1> Update Blog Post</h1>

<!-- bootstrap style -->
<div class="form-group">
    <!--https://docs.djangoproject.com/en/3.1/topics/forms/-->
    <form method="post">
        {% csrf_token %}
        <!-- form.media : to suppor rich text editor -->
        {{ form.media }}
        {{ form.as_p}}
        <button type="submit" class="btn btn-success">Update Post</button>

    </form>
</div>

{% else %}

Please login to edit this blog post

{% endif %}

{% endblock %}