{% extends 'base.html' %}


{% block content %}

<div class="col-md-12">
<h1> Blog Posts</h1>
<hr/>
<!-- bootstrap style -->
<div class="form-group">
    <!--https://docs.djangoproject.com/en/3.1/topics/forms/-->
    <form method="post" action="{% url 'post-search' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="Enter Search term" id="query" name="query" required class="form-control" autofocus>
        <br/>
        <button type="submit" class="btn btn-success" >Search</button>
    
    </form>
    </div>
{% for post in object_list %}

    <h2><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
    <p>
        <!-- TO DO DISPLAY RANDOM IMAGE -->
        <!-- <img src="https://source.unsplash.com/random/300x300" class="rounded float-left" /> -->
        <!-- {{ post.body }} -->
        <!-- using slice to truncate description over 200 chars -->
        {{ post.body|slice:":200"|safe }}
    </p>
    <div>
        <!-- https://getbootstrap.com/docs/4.0/components/badge/ -->
        <span class="badge badge-secondary">Posted On: {{ post.created_on }} </span> 
        <span class="badge badge-success">By:  {{ post.author.first_name }}  {{ post.author.last_name }}  </span>
        <span class="badge badge-info pull-right"><a href="{% url 'category' post.category_id %}"">{{ post.category }}</a></span>
    </div>
    
<hr/>
{%endfor %}

</div>
{% endblock %}